body,html{
	margin: 0;
	padding: 0;
	font-family: "Hiragino Sans GB";
	color: #333333;
}
i{
	font-style: normal;
}
img{
	border: none;
	display: block;
}
/*个人中心*/
.myTop{
	width: 9.06rem;
	height: 3.44rem;
	background: url(../img/headBg.png) no-repeat center;
	background-size:100% 100%;
	-moz-box-shadow:0px 0px 0.28rem rgba(64,133,237,0.75); 
	-webkit-box-shadow:0px 0px 0.28rem rgba(64,133,237,0.75); 
	box-shadow:0px 0px 0.28rem rgba(64,133,237,0.75);
	margin: 0.33rem auto 0.66rem;
	color: #fff;
	font-size: 0.4rem;
	display: flex;
	align-items: center;
	font-weight: bold;
}
.myTop .wxName{
	display: flex;
	flex-direction: column;
}
.myTop .wxName span:last-child{
	font-size: 0.34rem;
	font-family: arial;
	margin-top: 0.2rem;
	font-weight: normal;
}
.myTop .headIcon{
	margin: 0 0.61rem 0 0.9rem;
	box-sizing: border-box;
	width: 1.66rem;
	height: 1.66rem;
	border:0.08rem solid #fff;
	border-radius: 50%;
}
.myTop .headIcon img{
	width: 1.52rem;
	height: 1.52rem;
	border-radius: 50%;
}
.infoList>div{
	height: 0.45rem;
	display: flex;
	justify-content: space-between;
	margin: 0 0.58rem 0 0.58rem;
	font-size: 0.4rem;
	margin-bottom: 0.94rem;
}
.infoList>div:last-child{
	margin-bottom: 0.68rem;
}
.infoList .first img{
	width: 0.49rem;
	height: 0.45rem;
	margin-right: 0.26rem;
}
.infoList>div li{
	display: flex;
	align-items: center;
}
.infoList>div li:nth-child(2){
	color: #959595;
	font-size: 0.37rem;
}
.infoList>div li:nth-child(2)>img{
	/*width: 0.1rem;
	height: 0.17rem;*/
	width: 3%;
	margin-left: 0.24rem;
}
.infoList>div li i{
	color: #333;
	font-weight: bold;
	font-family: arial;
}
.infoList .goReverse{
	color: #458def;
}
.infoList .wait{
	position: relative;
}
.infoList .wait:before{
	content: "";
  	position: absolute;
  	display: inline-block;
  	width: 5px;
  	height: 5px;
  	top: calc(50% - 2.5px);
  	background: #ea0000;
  	border-radius: 50%;
  	left: -0.28rem;
}
/*.infoList .wait img{
	width: 9%;
	margin-right:0.17rem;
}*/
.infoList .wait{
	display: flex;
	align-items: center;
}
#myPage .loginOut{
	width:8.77rem;
	height: 1.04rem;
	background: #fff;
	border-radius:4px;
	color: #4e93f0;
	font-size: 0.4rem;
	text-align: center;
	line-height: 1.04rem;
	margin: 0 auto;
	-moz-box-shadow:0px 0px 0.13rem rgba(64,133,237,0.43); 
	-webkit-box-shadow:0px 0px 0.13rem rgba(64,133,237,0.43); 
	box-shadow:0px 0px 0.13rem rgba(64,133,237,0.43);
}
/*个人中心*/
.mask{
	position: fixed; 
	width:100%; 
	height:100%; 
	background-color:#000; 
	filter:alpha(opacity=30);
	-moz-opacity:0.3;
	opacity:0.3;
	z-index: 700;
	top: 0;
	left: 0;
	display: none;
}
.sorroyCon{
	width: 6.93rem;
	height: 4.26rem;
	background: url(../img/sorroyBg.png) no-repeat center;
	background-size:100% 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 900;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: none;
}
.sorroyCon span{
	display: block;
	color: #52a0f4;
	font-size: 0.56rem;
	line-height: 0.56rem;
}
.sorroyCon span:nth-child(2){
	color: #6a849f;
	font-size: 0.42rem;
	line-height: 0.42rem;
	margin-top: 0.37rem;
}
